[Desktop Entry]
Name=Krunner (g)Vim Session Plugin
Name[it]=Krunner Plugin per le sessioni di (g)Vim
Comment=Simple Python plugin to load (g)Vim session using Krunner
Type=Service
Icon=vim
ServiceTypes=Plasma/Runner
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Daniele Tricoli
X-KDE-PluginInfo-Email=eriol@mornie.org
X-KDE-PluginInfo-Name=vim_krunner_plugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://mornie.org/projects/vim-krunner-plugin/
X-KDE-PluginInfo-License=LGPLv3
X-KDE-PluginInfo-EnabledByDefault=true
