[Desktop Entry]
Name=Vim Sessions
Name[it]=Sessioni di Vim
Comment=Matches Vim Sessions
Comment[it]=Abbina sessioni di Vim
Type=Service
Icon=vim
ServiceTypes=Plasma/Runner
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Daniele Tricoli
X-KDE-PluginInfo-Email=eriol@mornie.org
X-KDE-PluginInfo-Name=krunner-vim-sessions
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://mornie.org/projects/krunner-vim-sessions/
X-KDE-PluginInfo-License=LGPLv3
X-KDE-PluginInfo-EnabledByDefault=true
